node_modules/
.env
.env.example
views/images/
views/uploads/
package-lock.json
package.json
.DS_Store
ADMIN_API.md
GOOGLE_OAUTH_SETUP.md
.eslintrc.json
.prettierignore
vnpay_nodejs
download_images.js
test_brands.js
update_products.js